*{
  margin: 0px;
  padding: 0px;
}
h1{
  font-weight: 700 !important;
  font-size: 45px !important;
  margin-bottom: 25px ;
}

input {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}
.item-container{
  text-align: left;
}
.todo-container{
  border: 1px solid blue;
  border-radius: 5px;
  margin: 80px;
  padding: 10px;
}
.item-container .row{
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius:5px ;

}
.my-button{
    width: 100%;
    align-items:flex-end;
}
